# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jetbrains
.idea


## Frontend Files ##
# testing
packages/frontend/coverage
# next.js
packages/frontend/.next
packages/frontend/out
# production
packages/frontend/build
